<ejs-sidebar #dockBar id="dockSidebar" [enableDock]='enableDock' [width]='width' [dockSize]='dockSize' [type]='type'>
    <div class="dock">
        <ul class="">
            <!-- (click)="toggleClick()" -->
            <li class="sidebar-item" id="toggle" >
                <span class="e-icons fas fa-tint" ></span>
            </li>
            <li class="sidebar-item">
                <span class="e-icons fas fa-tachometer-alt"></span>
            </li>
            <li class="sidebar-item">
                <span class="e-icons fas fa-grip-horizontal"></span>
            </li>
            <li class="sidebar-item">
                <span class="e-icons fas fa-clone"></span>
            </li>
            <li class="sidebar-item">
                <span class="e-icons settings"></span>
            </li>
            <li class="sidebar-item">
                <span class="e-icons fas fa-bell"></span>
            </li>
            <li class="sidebar-item mb-5">
                <span class="e-icons fas fa-sign-out-alt"></span>
            </li>
        </ul>
    </div>
</ejs-sidebar>
